<%- include('../partials/header') %>
    <h1>Skills list</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <a href="/skills/<%= s.id %>"><%= s.skill %></a>
            - 
          <%= s.mastery ? 'EXPERT' : 'NOOB' %>
        </li>
      <% }); %>
    </ul>

<%- include('../partials/footer') %>
